@page
@model ReporteAccidente.App.Frontend.Pages.EditVehiculoModel
@{
}
<h2>Edicion </h2>
<form method="post" >
    <input type="hidden" asp-for="vehiculo.Id"/>
     
    <div class="form-group">
        <label asp-for="vehiculo.Placa"></label>
        <input asp-for="vehiculo.Placa" class="form-control">
    </div>
    
    <div class="form-group">
        <label asp-for="vehiculo.Marca"></label>
        <input asp-for="vehiculo.Marca" class="form-control">
    </div>
    
    <div class="form-group">
        <label asp-for="vehiculo.Modelo"></label>
        <input asp-for="vehiculo.Modelo" class="form-control">
    </div>
    
    <button type="submit" class="btn btn-primary">Editar</button>
</form>
<a asp-page="./ReporteVehiculo" class="btn-default">Reporte Vehiculos</a>