@page
@model ReporteAccidente.App.Frontend.Pages.EdtiAccidenteModel
@{
}
<h2>Edicion </h2>
<form method="post" >
    <input type="hidden" asp-for="accidente.Id"/>
     
    <div class="form-group">
        <label asp-for="accidente.IdAgente"></label>
        <input asp-for="accidente.IdAgente" class="form-control">
    </div>
    
    <div class="form-group">
        <label asp-for="accidente.Latitud"></label>
        <input asp-for="accidente.Latitud" class="form-control">
    </div>
    
    <div class="form-group">
        <label asp-for="accidente.Longitud"></label>
        <input asp-for="accidente.Longitud" class="form-control">
    </div>
    
    <div class="form-group">
        <label asp-for="accidente.Direccion"></label>
        <input asp-for="accidente.Direccion" class="form-control">
    </div>
     <div class="form-group">
        <label asp-for="accidente.Fecha"></label>
        <input asp-for="accidente.Fecha" class="form-control">
    </div>
      <div class="form-group">
        <label asp-for="accidente.Hora"></label>
        <input asp-for="accidente.Hora" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Editar</button>
</form>
<a asp-page="./RegistroAccidente" class="btn-default">Reporte Accidentes</a>