@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Para mas informacion <a href="https://www.movilidadbogota.gov.co/">secretaria de movilidad bogota</a>.</p>
      <body>

      <img src="https://www.envigadoteinforma.gov.co/wp-content/uploads/2017/02/movilidad.jpg" width="500px" height="400px" />
          <dl class="row" id="contenido">
            
            <dt class="col-sm-3">Descripcion lists</dt>
            <dd class="col-sm-9">Esta es una App Web para registro y consulta de Accidentes de transito.</dd>
          
            <dt class="col-sm-3">Terminos</dt>
            <dd class="col-sm-9">
              <p>Actividad Realizada por Grupo 2.</p>
            </dd>
          
            <dt class="col-sm-3">En esta Aplicacion :</dt>
            <dd class="col-sm-9">
              <p>Se pueden Registrar Accidentes por parte del Agente de Transito</p> 
              <p>Se pueden consultar Datos asociados a los Automoviles y Ciudadanos implicados</p>
            </dd>  
          </dl>
               
          
        
      </body>

</div>
